{% extends 'base.html.twig' %}

{% block title %}
    Registration
{% endblock %}

{% block content %}
    <h1 class="text-xl my-2">We have sent you an email</h1>

    <p class="my-2">
        Please click the activation link in our email to activate your account.
        Only after activation you are able to log in.
    </p>

    <a href="/">
        <button class="bg-amber-600 text-white p-2 rounded-xl mt-2">
            Go to homepage
        </button>
    </a>
{% endblock %}
