{% extends 'base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        <div>
            <p>
                Did you verify your account?
            </p>
        </div>
    {% endif %}

    <h1 class="text-xl my-2">Log in</h1>

    <p class="my-2">
        Please log in using your blogsite account.
    </p>

    <form action="{{ path('app_login') }}"
          method="post"
          class="my-2"
    >
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password">

        <button type="submit">login</button>
    </form>

    <button class="text-white bg-amber-600 rounded-full p-2">
        <a href="/register">
            Create an account
        </a>
    </button>
{% endblock %}