{% extends 'base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        <div>
            <p>
                Did you verify your account?
            </p>
        </div>
    {% endif %}

    <h1 class="text-xl my-2">Log in</h1>

    <p class="my-2">
        Please log in using your blogsite account.
    </p>

    <div class="flex">
        <form action="{{ path('app_login') }}"
              method="post"
              class="my-2 w-full"
        >
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <label for="username" class="w-full">Email</label>
            <input type="text" required="required" id="username" name="_username" class="w-full my-2" value="{{ last_username }}">
            <label for="password" class="w-full">Password</label>
            <input type="password" required="required" id="password" class="w-full my-2" name="_password">
            <button class="bg-amber-600 text-white p-2 rounded-full">
                Login
            </button>
        </form>
    </div>


    <button class="text-white bg-amber-600 rounded-full p-2">
        <a href="/register">
            Create an account
        </a>
    </button>
{% endblock %}