{% extends "base.html.twig" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="lg:flex">
        <div class="lg:flex-auto lg:w-3/4">
            <img class="h-80 w-full rounded-2xl"
                 src="img/banner.png"
            >
            <h1 class="text-xl my-2">
                De blogsite van personen met ongekende talent
            </h1>

            <p class="my-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elit nunc, facilisis sed gravida a,
                vestibulum sit amet leo. In ullamcorper velit ac libero porttitor blandit. In in ultricies risus. Integer
                elit elit, molestie quis finibus eu, ornare sit amet nisl. Phasellus tempus turpis eu nibh cursus, ut
                consectetur nibh porta. Etiam ut congue ligula. Donec ante metus, tempus vel dapibus vel, mollis sed ipsum.
                Morbi sit amet porttitor mauris. Donec fringilla faucibus ante in consequat. Nunc ac mattis ipsum. Quisque a
                dolor sed tortor pharetra feugiat eget et diam. Integer nec lorem quis dui condimentum consequat non ac
                sapien. Maecenas justo enim, facilisis vel molestie vel, porta lacinia enim.

                Cras dictum vitae ipsum et feugiat. Fusce eu dapibus mauris. Interdum et malesuada fames ac ante ipsum
                primis in faucibus. Ut aliquam ac arcu eget faucibus. Donec sed est pulvinar dui aliquet dignissim ut sed
                mi. Praesent eu accumsan eros. Donec nulla nunc, imperdiet vel mauris eget, pellentesque imperdiet libero.
                Ut eget tempor neque. Ut sem turpis, tempus non tincidunt nec, tincidunt et lorem. Nam efficitur congue
                felis, a pharetra odio suscipit vitae. Curabitur finibus urna vitae neque dapibus, sit amet consequat arcu
                vulputate. Ut faucibus, lorem vel hendrerit posuere, sem quam blandit lectus, in ultrices leo libero id
                massa. Donec eget pellentesque elit. Integer iaculis, tellus eget accumsan aliquet, leo leo lobortis tortor,
                sit amet tempus dui erat sit amet lorem. Nullam vitae finibus justo, sed vulputate tortor. Etiam rhoncus
                eros id odio feugiat faucibus.

                Nulla vel purus ex. Aenean laoreet efficitur commodo. Praesent fermentum, augue in vestibulum hendrerit,
                eros nulla lobortis dui, ut convallis ex enim ut lectus. Praesent ornare egestas metus sed pretium. Sed nec
                urna sit amet nisi sollicitudin viverra vel non nulla. Curabitur pellentesque metus eu tristique iaculis.
                Vestibulum dignissim consectetur tortor, aliquam ornare lectus luctus ut. Suspendisse finibus augue quis
                diam congue consequat. Donec semper enim quis nisl cursus, ut malesuada mauris laoreet. Donec porttitor,
                eros sagittis tristique tincidunt, mauris nisl vulputate massa, id ultricies neque massa a nisi. Morbi
                imperdiet orci sed turpis consectetur porta. Praesent egestas orci vestibulum ex pulvinar rhoncus. Duis
                laoreet velit quis viverra dignissim. Duis non scelerisque enim. Maecenas dignissim massa quis imperdiet
                ultrices. Maecenas mi sem, varius vehicula augue et, pulvinar dapibus magna.

                Proin semper elit magna, vel laoreet lacus euismod at. Suspendisse dapibus congue pretium. Nam id sapien id
                lectus pulvinar aliquet. Phasellus vel arcu quis est dapibus fringilla eget et eros. Sed accumsan sed turpis
                id aliquam. Vivamus non mauris urna. Donec finibus dapibus leo, vitae fringilla libero viverra eu. Nam
                tempus laoreet fermentum. Nulla interdum nibh molestie commodo rhoncus. In mattis rutrum libero, vel
                faucibus neque ultrices nec. Suspendisse ex eros, vehicula ac tempus id, mollis bibendum metus. Nullam id
                lacinia urna.

                Nulla egestas, est at cursus ultrices, est leo venenatis augue, sit amet ornare mi mauris et diam. Nunc vel
                metus sed mi vulputate fermentum ac vitae nulla. Mauris vitae nisl elit. Nulla bibendum, ligula nec feugiat
                pretium, orci tortor malesuada elit, non consequat metus turpis vel sapien. Nulla sit amet enim ex. Nam nec
                lacinia enim. Sed ut ante ultrices, viverra nulla et, vulputate turpis. Sed non mauris mollis, bibendum
                tellus a, auctor sem. Mauris tortor nisi, dapibus in dui sed, posuere sagittis sem.
            </p>
            <p class="my-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elit nunc, facilisis sed gravida a, vestibulum
                sit amet leo. In ullamcorper velit ac libero porttitor blandit. In in ultricies risus. Integer elit elit,
                molestie quis finibus eu, ornare sit amet nisl. Phasellus tempus turpis eu nibh cursus, ut consectetur nibh
                porta. Etiam ut congue ligula. Donec ante metus, tempus vel dapibus vel, mollis sed ipsum. Morbi sit amet
                porttitor mauris. Donec fringilla faucibus ante in consequat. Nunc ac mattis ipsum. Quisque a dolor sed tortor
                pharetra feugiat eget et diam. Integer nec lorem quis dui condimentum consequat non ac sapien. Maecenas justo
                enim, facilisis vel molestie vel, porta lacinia enim.

                Cras dictum vitae ipsum et feugiat. Fusce eu dapibus mauris. Interdum et malesuada fames ac ante ipsum primis in
                faucibus. Ut aliquam ac arcu eget faucibus. Donec sed est pulvinar dui aliquet dignissim ut sed mi. Praesent eu
                accumsan eros. Donec nulla nunc, imperdiet vel mauris eget, pellentesque imperdiet libero. Ut eget tempor neque.
                Ut sem turpis, tempus non tincidunt nec, tincidunt et lorem. Nam efficitur congue felis, a pharetra odio
                suscipit vitae. Curabitur finibus urna vitae neque dapibus, sit amet consequat arcu vulputate. Ut faucibus,
                lorem vel hendrerit posuere, sem quam blandit lectus, in ultrices leo libero id massa. Donec eget pellentesque
                elit. Integer iaculis, tellus eget accumsan aliquet, leo leo lobortis tortor, sit amet tempus dui erat sit amet
                lorem. Nullam vitae finibus justo, sed vulputate tortor. Etiam rhoncus eros id odio feugiat faucibus.

                Nulla vel purus ex. Aenean laoreet efficitur commodo. Praesent fermentum, augue in vestibulum hendrerit, eros
                nulla lobortis dui, ut convallis ex enim ut lectus. Praesent ornare egestas metus sed pretium. Sed nec urna sit
                amet nisi sollicitudin viverra vel non nulla. Curabitur pellentesque metus eu tristique iaculis. Vestibulum
                dignissim consectetur tortor, aliquam ornare lectus luctus ut. Suspendisse finibus augue quis diam congue
                consequat. Donec semper enim quis nisl cursus, ut malesuada mauris laoreet. Donec porttitor, eros sagittis
                tristique tincidunt, mauris nisl vulputate massa, id ultricies neque massa a nisi. Morbi imperdiet orci sed
                turpis consectetur porta. Praesent egestas orci vestibulum ex pulvinar rhoncus. Duis laoreet velit quis viverra
                dignissim. Duis non scelerisque enim. Maecenas dignissim massa quis imperdiet ultrices. Maecenas mi sem, varius
                vehicula augue et, pulvinar dapibus magna.

                Proin semper elit magna, vel laoreet lacus euismod at. Suspendisse dapibus congue pretium. Nam id sapien id
                lectus pulvinar aliquet. Phasellus vel arcu quis est dapibus fringilla eget et eros. Sed accumsan sed turpis id
                aliquam. Vivamus non mauris urna. Donec finibus dapibus leo, vitae fringilla libero viverra eu. Nam tempus
                laoreet fermentum. Nulla interdum nibh molestie commodo rhoncus. In mattis rutrum libero, vel faucibus neque
                ultrices nec. Suspendisse ex eros, vehicula ac tempus id, mollis bibendum metus. Nullam id lacinia urna.

                Nulla egestas, est at cursus ultrices, est leo venenatis augue, sit amet ornare mi mauris et diam. Nunc vel
                metus sed mi vulputate fermentum ac vitae nulla. Mauris vitae nisl elit. Nulla bibendum, ligula nec feugiat
                pretium, orci tortor malesuada elit, non consequat metus turpis vel sapien. Nulla sit amet enim ex. Nam nec
                lacinia enim. Sed ut ante ultrices, viverra nulla et, vulputate turpis. Sed non mauris mollis, bibendum tellus
                a, auctor sem. Mauris tortor nisi, dapibus in dui sed, posuere sagittis sem.
            </p>
        </div>
        <div class="lg:ml-8 lg:flex-none lg:w-1/4">
            <div class="mb-10">
                <h1 class="text-xl text-white bg-amber-600">
                    Recente blogs
                </h1>
                <ul>
                    <li>BLOG 1</li>
                    <li>BLOG 2</li>
                </ul>
            </div>
            <div class="mb-10">
                <h1 class="text-xl text-white bg-amber-600">
                    Best beoordeelde blogs
                </h1>
                <ul>
                    <li>BLOG 1</li>
                    <li>BLOG 2</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
