{% extends 'base.html.twig' %}

{% block title %}Edit Commentary{% endblock %}

{% block content %}
    <h1>Edit Commentary</h1>

    {{ include('commentary/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ route }}">back to list</a>

    {{ include('commentary/_delete_form.html.twig') }}
{% endblock %}
