{% extends 'base.html.twig' %}

{% block title %}Edit Commentary{% endblock %}

{% block content %}
    <h1>Edit Commentary</h1>

    {{ include('commentary/_form.html.twig', {'button_label': 'Submit'}) }}

    <a href="{{ route }}">Back to list</a>
{% endblock %}
