{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <button class="btn bg-amber-600 text-white p-2 rounded-xl m-2">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}