<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body class="bg-slate-300">
        <div class="h-full">
            <div class="bg-white z-20">
                <div class="w-8/12 mx-auto flex">
                    <img class="w-48 h-32 my-4"
                         src="{{ absolute_url(asset('img/blogicon.jpg')) }} ">
                    <h1 class="my-auto tracking-widest text-2xl font-bold">
                        De  blogsite
                    </h1>
                    <h1 class="my-auto tracking-widest text-3xl font-bold animate-bounce">!!!</h1>
                </div>
            </div>
            <main class="mb-auto  ">
                <header class="sticky top-0  w-screen bg-black shadow-2xl border-amber-600 border-t-4 z-20">
                    <div class="flex h-auto w-8/12 mx-auto shadow-2xl ">
                        <div class="flex-none my-2 z-50">
                            <a href="/"
                                    {% if app.request.get('_route') == 'app_home' %}
                                        class="bg-amber-600 hover:bg-amber-600 text-white font-bold p-2 mr-px  text-xl"
                                    {% endif %}
                               class="hover:bg-amber-600 text-white font-bold p-2 mr-px text-xl">
                                HOME
                            </a>
                            <a href="/about"
                                    {% if app.request.get('_route') == 'app_about' %}
                                        class="bg-amber-600 hover:bg-amber-600 text-white font-bold p-2 mr-px text-xl"
                                    {% endif %}
                               class="hover:bg-amber-600 text-white font-bold p-2 mr-px text-xl">
                                ABOUT
                            </a>
                            <a href="/blog/page/1"
                                    {% if app.request.get('_route') == 'app_blog_paginated' %}
                                        class="bg-amber-600 hover:bg-amber-600 text-white font-bold p-2 mr-px  text-xl"
                                    {% endif %}
                               class="hover:bg-amber-600 text-white font-bold p-2 mr-px text-xl">
                                BLOGS
                            </a>
                        </div>
                        <div class="flex-auto">
                        </div>
                        <div class="flex-none my-2">

                            {% if app.user is null %}
                                <a href="/login"
                                        {% if app.request.get('_route') == 'app_login' %}
                                            class="bg-amber-600 hover:bg-amber-600 text-white font-bold p-2 mr-px text-xl"
                                        {% endif %}
                                   class="hover:bg-amber-600 text-white font-bold p-2 mr-px text-xl">
                                    LOG IN
                                </a>
                            {% else %}
                                <a href="/account"
                                        {% if app.request.get('_route') == 'app_account' %}
                                            class="bg-amber-600 hover:bg-amber-600 text-white font-bold p-2 mr-px text-xl"
                                        {% endif %}
                                   class="hover:bg-amber-600 text-white font-bold p-2 mr-px text-xl">
                                    ACCOUNT
                                </a>
                                <a href="/logout"
                                        {% if app.request.get('_route') == 'app_logout' %}
                                            class="bg-amber-600 hover:bg-amber-600 text-white font-bold p-2 mr-px text-xl"
                                        {% endif %}
                                   class="hover:bg-amber-600 text-white font-bold p-2 mr-px text-xl">
                                    LOG OUT
                                </a>
                            {% endif %}
                        </div>


                    </div>
                </header>

                <div class="w-8/12 bg-white mx-auto my-8 rounded-xl shadow-xl px-16 py-16 text-sm text-gray-800 ">
                    {% block content %}
                    {% endblock %}
                </div>
            </main>

            <footer class="fixed bottom-0 w-screen bg-amber-600">
                <div class="mx-auto flex w-8/12">
                    <div class="flex-auto">
                    </div>
                    <div class="flex-none my-auto">
                        <p class="text-white ">
                            Made by M. van Sliedregt - 2022 ©
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
